<%provide(:title,"Train text")%>

<div id="container">
  <h1 class="ui header"><%= @review.title %></h1>
  <div class="ui message page grid">
        <p> Posted at <%= @review.published_date.strftime("%d/%m/%Y")%> @ <%=link_to "#{@review.host}",reviews_path(forum: "#{@review.host}")%>.<br>
        This review has been viewed <%= @review.popular%> times and classified into
        <%= render 'shared/review_category_tag'%>   category by <%=link_to "SocialReader", root_path%>.<br>
        You can also view <%= link_to "source review", @review.url%>.</p>
          <div class="row">
          <div class="eight wide column">
          <div class="field">
            <label>This review is re-classified by user:</label>
          </div>
          <div class="field">
            <% @train_text.category.each do |cat| %>
              <span class="ui <%=type_label_color(cat)%> basic label">
                <%= cat.capitalize%>
              </span>
            <% end %>
          </div>
          </div>
          <div class="eight wide column">
            <div class="row">
            <div class="eight wide column">
              Check the train text?
          <div class="ui form">
            <%= form_for [:admin,TrainReview.new] do |f|%>
          <%= f.hidden_field :_id, value: @review.id%>
            <%= f.select(:category,Review::CATEGORIES, class: "ui dropdown")%>
            <%=f.submit "Add to train data", class: "ui green button"%>
          <%end%>
            </div>
            <div class="ui form">
            <%= form_for [:admin,TestReview.new] do |f|%>
          <%= f.hidden_field :_id, value: @review.id%>
            <%= f.select(:category,Review::CATEGORIES, class: "ui dropdown")%>
            <%=f.submit "Add to test data", class: "ui blue button"%>
          <%end%>
            </div>
          </div>
            <div class="eight wide column">
          <%= link_to "Delete", admin_train_text_path, method: :delete, data:{confirmation: "Are you sure?"}, class: "ui red button"%>
            </div>
          </div>
            </div>
          </div>
          </div>
  </div>
  <p><%=@review.content.html_safe%></p>
  <span class="ui tag label">Tags</span>
  <div class="ui celled horizontal list">
    <% @review.tag.each do |tag|%>
      <div class="item"><%=link_to "#{tag}", reviews_path(:tag=> tag)%></div>
    <% end %>
  </div>
</div>

