<%provide(:title,"Edit review")%>
<div class="ui huge breadcrumb">
  <a class="section" href="<%= admin_root_path %>">Home</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="<%=admin_reviews_path%>">Reviews</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Edit: <a href="<%=admin_review_path(@review)%>"><%=@review.title[0..20]%>...</a></div>
</div>
<br>
<%= form_for [:admin,@review] do |f|%>
<div class="ui form">
  <h4 class="ui dividing header">Information</h4>
  <div class="field">
    <label>Title</label>
      <div class="field">
        <%= f.text_field :title, placeholder: "Title"%>
      </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Category</label>
       <%= f.select(:category,Review::CATEGORIES,:multiple => true, class: "ui dropdown")  %>
    </div>
  </div>
  <h4 class="ui dividing header">Content</h4>
  <%= f.cktext_area :content %>
  <div class="field">
    <label>Tag</label>
      <div class="field">
        <%= f.text_field :tag, placeholder: "Divided by ,"%>
      </div>
  </div>
  <%= f.submit "Submit", class: "positive ui button"%>
<%end%>
