<%provide(:title,"Reviews")%>
<div class="ui huge breadcrumb">
  <a class="section" href="<%= admin_root_path %>">Home</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="<%=admin_reviews_path%>">Reviews</a>
  <a href="<%=new_admin_review_path%>" class="ui green button">New review</a>
</div>
<% if @reviews.any?%>
<div class="ui top attached tabular menu">
  <a class="item " data-tab="first">Statistic</a>
  <a class="item active" data-tab="second">Index</a>
</div>
<div class="ui bottom attached tab segment " data-tab="first">
  <table class="ui versy basic collapsing celled table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Number of reviews</th>
      </tr>
    </thead>
    <tbody>
      <%Review::CATEGORIES.each do |cat|%>
      <tr>
          <td>
            <span class="ui <%=type_label_color(cat)%> basic label">
      <%= cat.capitalize%>
    </span>
          </td>
          <td>
            <%=@reviews.by_category(cat).count%>
          </td>
      </tr>
      <%end%>
    </tbody>
      <tfoot>
        <tr>
          <th>Total</th>
          <th><%=@reviews.count%></th>
        </tr>
      </tfoot>
  </table>
</div>
<div class="ui bottom attached tab segment active" data-tab="second">
<%Review::CATEGORIES.each do |cat|%>
  <% unless params[:search]%>
    <a class="ui <%=type_label_color(cat)%> button" href="<%=admin_reviews_path(category: "#{cat}")%>"><%=cat.upcase%></a>
  <%else%>
    <a class="ui <%=type_label_color(cat)%> button" href="<%=admin_reviews_path(search: "#{params[:search]}",category: "#{cat}")%>"><%=cat.upcase%></a>
  <%end%>
<% end %>
  <%= paginate(@reviews) %>
<%= render @reviews%>
  <%= paginate(@reviews) %>
</div>
<% else %>
  <div class="ui bottom attached tab segment active">
    No result has the term "<%=params[:search]%>". Go to <%= link_to "Advanced search", new_search_path%> for more informations
  </div>
<% end %>
