<tr>
  <td>
    <%= Review.find(test_review.id).review[0..400] %>...
  </td>
  <td>
     <span class="ui <%=type_label_color(test_review.category)%> basic label">
      <%= test_review.category.capitalize%>
    </span>
  </td>
  <td>
    <%= link_to [:admin,test_review] do %>
     <div class="ui small green button active"><i class="info icon"></i></div>
    <% end%>
    <%= link_to [:admin,test_review], method: :delete, data:{confirmation: "Are you sure?"} do %>
     <div class="ui small red button active"><i class="trash icon"></i></div>
    <% end%>
  </td>
</tr>
