<div class="ui items internally celled grid" style="padding-top:20px">
    <%= render 'shared/review_label'%>
      <div class="raised item">
    <div class="content">
      <a class="header" href="<%= review_path(review)%>"><%=review.title%></a>
       <div class="meta">
      </div>
      <div class="description">
       <div class="ui right floated small statistic">
          <div class="value">
            <%= review.popular%>
          </div>
          <div class="label">
            Views
          </div>
        </div>
        <span><%=review.review[0..400]%>...</span>
      </div>
      <div class="extra">
      <span class="ui tag label">Tags</span>
        <div class="ui celled horizontal list">
          <% unless review.tag.nil?%>
          <%=review.tag.each do |tag|%>
            <div class="item"><%=link_to "#{tag}", reviews_path(:tag=> tag)%></div>
          <% end %>
          <%end%>
        </div>
      <div class="ui bottom right attached label">
      <%=link_to "#{review.host}", reviews_path(forum: "#{review.host}")%></div>
      </div>

    </div>
  </div>
</div>

