<%provide(:title,"Reviews")%>
<% if @reviews.present?%>
  <%= paginate(@reviews) %>
    <%= render @reviews %>
  <%= paginate(@reviews) %>
<%else%>
  <div class="ui bottom attached tab segment active">
    No result has the term "<%=params[:search]%>". Go to <%= link_to "Advanced search", new_search_path%> for more informations
  </div>
<%end%>

<script type="text/javascript">
    $('.ui.sticky').sticky({
    context: '#body',
    pushing: true
  })

      var sidebar= document.getElementById("push")
  sidebar.onclick=function(){
    $('.ui.labeled.icon.sidebar').sidebar('toggle')
  }

</script>
