<% provide(:title, "Review")%>
<div id="container">
  <h1 class="ui header"><%= @review.title %></h1>
  <div class="ui message page grid">
    <% if current_user.clipped_reviews.include? @review.id %>
      <a class="ui black right corner label" href="<%=review_path(@review,unclip: @review.id)%>">
        <i class="trash icon"></i>
      </a>
    <%else%>
      <a class="ui red right corner label" href="<%=review_path(@review,clip: @review.id)%>">
        <i class="save icon"></i>
      </a>
    <%end%>
    <p> Posted at <%= @review.published_date.strftime("%d/%m/%Y")%> @ <%=link_to "#{@review.host}",reviews_path(forum: "#{@review.host}")%>.<br>
    This review has been viewed <%= @review.popular%> times and classified into
    <%= render 'shared/review_category_tag'%>
       category by <%=link_to "SocialReader", root_path%>.<br>
       <% unless @review.host == "socialreader" %>
    You can also view <%= link_to "source review", @review.url%>.</p>
      <div class="ui form">
      <%= form_for @train_text do |f|  %>
      <div class="three fields">
      <div class="field">
        <label>This review is about:</label>
      </div>
      <div class="field">
        <%= f.select(:category,Review::CATEGORIES-[@review.category], class: "ui dropdown")  %>
      </div>
      <div class="field">
        <%= f.submit "Re-classify", class:"ui red button"%>
      </div>
        <%= f.hidden_field :_id,value: @review.id%>
        <%= f.hidden_field :review,value: @review.review%>
      </div>
      </div>
      <% end %>
      <% end %>
  </div>
  <p><%=@review.content.html_safe%></p>
  <span class="ui tag label">Tags</span>
  <div class="ui celled horizontal list">
    <% @review.tag.each do |tag|%>
      <div class="item"><%=link_to "#{tag}", reviews_path(:tag=> tag)%></div>
    <% end %>
  </div>
</div>


<% if user_signed_in? %>
  <div class="ui comments">
    <h3 class="ui dividing header">Comments (<%=@review.comments.count%>)</h3>
    <%= render @review.comments %>
    <%= form_for([@review, @comment]) do |f|%>
    <div class="ui reply form" style="padding-top:20px">
      <div class="field">
        <%= f.text_area :content%>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
        <%= f.submit "Add reply", class: "ui green button"%>
    </div>
    <% end %>
  </div>
  <%end %>
