<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header"%>
    <%=render "layouts/right_side_bar"%>
    <div class="pusher">
    <%= semantic_flash %>
    <%= yield %>
    <%=render'layouts/footer'%>
    </div>
  </body>
</html>

<script type="text/javascript">
  $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
  var span= document.getElementById("profile")
  span.onclick = function(){
    $('.ui.modal').modal('show');
  }
  $(".owl-carousel").owlCarousel();

  var sidebar= document.getElementById("push")
  sidebar.onclick=function(){
    $('.ui.labeled.icon.sidebar').sidebar('toggle')
  }
</script>
