<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user&&current_user.admin? %>
      <%= render "layouts/admin_header"%>
    <div class="ui internally grid" id="body">
      <div class="row" >
      <div class="two wide column" >
      </div>
      <div class="twelve wide column" >
        <%= semantic_flash %>
        <%= yield %>
      </div>
      <div class="two wide column" >
      </div>
      </div>
    </div>
    <%else%>
    <%= render "layouts/header"%>
    <div class="ui internally grid" id="body">
      <div class="row" >
        <div class="four wide column" >
          <%= render 'layouts/side_bar'%>
        </div>
        <div class="eleven wide column">
        <%= semantic_flash %>
        <%= yield %>
        </div>
        <div class="one wide column">
        </div>
        <%=render'layouts/footer'%>
      </div>
    </div>
    <%end%>
  </body>
</html>

<script type="text/javascript">
    $('.menu .item').tab();
</script>
